a{
	color: #fff;
}
body {
	background-image:url('../img/stone.png');
	background-attachment:fixed;
	color: #fff;
}
input {
	box-shadow: 0px 0px 10px black;
	border-radius: 5px 5px;
	padding: 2px 2px 2px 2px;
}
textarea {
	padding: 10px 10px 10px 10px;
}
.news_tab img {
	border-radius: 20px 20px;
	box-shadow: 0px 0px 10px black;
}
.navbar {
	margin: 0.2em 0 2.0em 0;
	height: 2em;
}
.navbar ul li {
	padding: 0px 6px 0px 6px;
	margin: 10px 10px 10px 0px;
	text-decoration: underline;
	float: left;
	display: block;
	font-size: 135%;
	box-shadow: 0px 0px 10px black;
}
.navbaropt {
	margin: 0.2em 0 2.0em 0;
	height: 2em;
	padding: 0px 0px 0px 60px;
}
.navbaropt ul li {
	padding: 0px 6px 0px 6px;
	margin: 0px 10px 10px 0px;
	text-decoration: underline;
	float: left;
	display: block;
	font-size: 135%;
	box-shadow: 0px 0px 10px black;
}
.navlink {
	background-image:url('../img/wood.png');
	border-radius: 20px 20px;
}

.news_tab {
	background-image:url('../img/grass.png');
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px 15px 15px 15px;
	border-radius: 20px 20px;
	box-shadow: 0px 0px 10px black;
}
.center {
	background-image:url('../img/grass.png');
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px 15px 15px 15px;
	border-radius: 20px 20px;
	box-shadow: 0px 0px 10px black;
}
.quote {
	background-image:url('../img/clay.png');
	border-radius: 20px 20px;
	margin-bottom: 10px;
	padding: 10px 10px 10px 10px;
	box-shadow: 0px 0px 10px black;
	color: black;
}
.code {
	background-image:url('../img/tree.png');
	border-radius: 20px 20px;
	margin-bottom: 10px;
	padding: 10px 10px 10px 10px;
	box-shadow: 0px 0px 10px black;
}
.download-integer {
	background-image:url('../img/tree.png');
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px 15px 15px 15px;
	text-align:left;
	border-radius: 20px 20px;
	box-shadow: 0px 0px 10px black;
}

.bbcode {
	background-color: white;
	border-radius: 20px 20px;
	box-shadow: 0px 0px 10px black;
	margin: 0px auto 10px auto;
	width: 350px;
	padding: 5px 5px 5px 5px;
}
.news_tab h2 {
	margin-top:-1px;
}
.news_tab p {
	text-align: left;
}
.com {
	background-image:url('../img/sandstone.png');
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px 15px 15px 15px;
	border-radius: 20px 20px;
	box-shadow: 0px 0px 10px black;
	color: black;
}
.date {
	float: right;
}
.pseudo {
	float: left;
}
.com p {
	text-align: left;
}
.login {
	margin: 0em auto 0em auto;
}
#content {
	width: 60em;
	margin: 1em auto 3em auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	text-align:center;
}
#contenu {
	border-radius: 5px 5px;
	box-shadow: 0px 0px 10px black;
	padding: 10px 10px 10px 10px;
}
#divlogo {
	background-image:url('../img/sand.png');
	border-radius: 20px 20px;
	box-shadow: 0px 0px 10px black;
	padding: 15px 0px 15px 0px;
}
#footer {
	background-image:url('../img/water.png');
	color: #fff;
	margin-top: 20px;
	padding: 1px 0px 15px 0px;
	border-radius: 20px 20px;
	box-shadow: 0px 0px 10px black;
}
#footer img {
	box-shadow: 0px 0px 10px black;
}
#ville {
	text-align:center;
	border-style:groove;
	border-width:5px;
	background-color: grey;
	box-shadow: 0px 0px 10px black;
	margin: 0em auto 0em auto;
}
#ville td, th {
	border-style:solid;
	border-width:1px;
}
